@charset "utf-8";
body { margin:0 0;}
a:hover { color: #DF1204;}
#top-menu { height: 36px; line-height: 36px; background: #242424; text-align: right; font-size: 12px;}
#top-menu a { color: #DDD;}

#header .line { overflow: visible;}
#navigation ul { margin: 17px 0; height: 60px;}
#navigation ul li { float: right; position: relative; }
#navigation ul li a { display: block; height: 60px; line-height: 60px; width: 110px; color: #000; text-align: center; font-size: 14px; }
#navigation ul li a:hover { background: #BD011D; text-decoration: none; color: #FFF; }
#navigation ul li .current { background: #BD011D; text-decoration: none; color: #FFF; }

/* 幻灯 */
#slideshow { height: 600px; position: relative; }
#slideshow .bd li { height: 600px; }
#slideshow .hd ul { width: 100%; position: absolute; z-index: 1; bottom: 0; left: 0; height: 30px; line-height: 30px; text-align: center; }
#slideshow .hd ul li { cursor: pointer; display: inline-block; zoom: 1; width: 30px; height: 6px; margin: 2px; background: #404244; overflow: hidden; line-height: 9999px; }
#slideshow .hd ul .on { background: #DF1204; width: 60px; }
#slideshow .url { width: 1200px; height: 460px; margin: 0 auto; }
#slideshow .url a { width: 1200px; height: 460px; display: block; }


#search { background: #EEE; height: 40px; position: relative; margin-top: 10px; line-height: 40px; padding-left: 6px; }

#search_text { border: 1px solid #999; height: 28px; width: 200px; position: absolute; top: 6px; right: 55px; padding: 0 10px; }
#search_btn { background: #242424; height: 28px; width: 50px; position: absolute; top: 6px; right: 6px; color: #DDD; cursor: pointer;}

#index_products { padding: 20px 0; }

#footer { background: #EEE; padding: 20px 0; border-top: 4px solid #242424;}

#content { margin: 20px 0;}
.hd1 { background: #EEE; height: 46px; line-height: 46px; padding: 0 14px; border-left: 20px solid #242424; font-size: 20px; }
.bd1 { padding: 10px 0; margin-bottom: 20px;}


.link_text a { display: block; background: #EEE; text-align: center; height: 32px; line-height: 32px; margin-bottom: 10px;}


/*当前位置*/
#current_location { background: #EEE; padding: 10px; margin-bottom: 20px;}
#current_location a.current{ color: red; }

#detail_name { }
#detail_intro { font-size: 12px; color: #999;}
#detail_content { padding: 20px 0; line-height: 26px;}
#detail_picture { margin: 20px 0; text-align: center;}
#detail_picture img { max-width: 640px;}
#detail_video { margin: 20px 0; text-align: center; }
#detail_video embed  { width: 100%; height: 535px; }
#detail_attachment { margin: 20px 0; text-align: center; }

#detail_slideshow { margin: 20px auto; width: 480px; text-align: center;}
#detail_slideshow .bd li img {  }
#detail_slideshow .hd li { margin-top: 5px ;}
#detail_slideshow .hd li img { width: 76px; height: 76px; cursor: pointer; }
#detail_slideshow .hd li.on img { border: 1px solid #0AE; }


/*列表*/
.plist .wrap { padding: 10px; border: 1px solid #EEE; }
.plist .wrap:hover { background: #EEE;}
.plist .title { padding: 10px 0; text-align: center; }
.plist .content { font-size: 12px; padding: 10px 0; height: 80px; }
.alist { margin-bottom: 20px;}
.alist .date { float: left; height: 66px; width: 66px; background: #DF1204; text-align: center; color: #FFF; }
.alist .date .day { font-size: 30px; }
.alist .r { float: right;  width: 810px;}
.alist .title { font-size: 18px; border-bottom: 1px solid #EEE; line-height: 30px; }
.alist .content { padding: 10px 0; color: #999; }
.channel_list li { margin-bottom: 4px; }
.channel_list li a { display: block; line-height: 36px; background: #EEE; padding: 0 10px; font-size: 16px;}
.channel_list li a:hover { background: #242424; color: #FFF; }
.channel_list li a.current { background: #242424; color: #FFF; }
.channel_wlist { margin-bottom: 20px; }
.channel_wlist li { display: inline-block; margin-right: 10px; }
.channel_wlist li a { background: #EEE; height: 40px; line-height: 40px; display: block; text-align: center; padding: 0 30px; font-size: 16px;}
.channel_wlist li a:hover { background: #242424; color: #FFF; }
.channel_wlist li a.current { background: #242424; color: #FFF; }

.channel_plist .hd { background: #242424 url(images/icon1.png) right center no-repeat; line-height: 36px; padding: 0 10px; margin-bottom: 2px;}
.channel_plist .hd.on { background: #BD011D url(images/icon2.png) right center no-repeat;  }
.channel_plist .hd a { display: block; color: #EEE; }
.channel_plist .bd { display: none; }
.channel_plist .bd li { background: #EEE; line-height: 30px; padding: 0 20px; margin-bottom: 2px; }
.channel_plist .bd li a { display: block; color: #333;}

.page_show { margin: 20px 0; }
.page_show a { display: inline-block; height: 40px; line-height: 40px; min-width: 40px; text-align: center; background: #F2F2F2; margin-right: 2px; }
.page_show a:hover, .page_show a.page_current { background: #0A8; color: #FFF; }

.flist { margin-bottom: 20px;}
.flist .username { background: #EEE; padding: 10px; }
.flist .content { padding: 20px; border: 1px solid #EEE; }
.flist .content .answer { padding: 10px; border: 1px solid #EEE; margin-top: 10px; }
