/*-------------------------------CONTENT-------------------------------------*/
#content{
	min-height: 600px;
	min-width: 1200px;
	margin: auto;
}
/*-------------------------main-background-----------------------*/
#main-picture{
	background: url(../images/home/adbox.jpg) no-repeat center top;
	height: 460px;                    //长度或宽度至少要设置一个，否则图片出不来
	width: 100%;
}
#main-picture img{
	margin-top: 120px;
	margin-left: -100px;
}
/*#main-picture-note{
	padding-top: 120px;
	padding-left:180px;
	font:700 28px '幼圆';
	color:#ffffff;
	line-height: 40px;
}*/
/*-------------------------describe-platform-----------------------*/
.describe-platform{
	width: 83%;
	margin: 0 auto;
}
.picture-span{
	height: 220px;
}
.picture-span li{
	float: left;
	width: 120px;
	font: 600 18px '幼圆';
	color:#2d3438;
	text-align: center;	
	margin: 30px 120px;	
}
.picture{
	height: 300px;                
}
#picture-1{
	background: url(../images/home/a.jpg) no-repeat left top;
	background-color: #99d9f4;
}
#picture-2{
	background: url(../images/home/idea.png) no-repeat right top;
	background-color: #123457;
}
#picture-3{
	background: url(../images/home/b.jpg) no-repeat left top;
	background-color: #2a404f;
}
.big-title{
	font: 600 28px '幼圆';
	line-height: 60px;
}
.small-content{
	font: 600 18px '幼圆';
	line-height: 30px;
}
#p-left-content{
	float: right;
	width: 500px;
	color: #ffffff; 
	text-align: center;
	margin-right: 170px;
	padding-top: 100px;
}
#p-right-content{
	float: left;
	width: 500px;
	color: #ffffff; 
	text-align: center;
	margin-left: 160px;
	padding-top: 100px;
}

